*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

ul {
  list-style: none;
  text-transform: uppercase;
  background: #ff4800;
  color: #fff;
  padding: 0;
}

li {
  margin: 0;
  text-align: center;
  height: 40px;
}

li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

li a:hover {
  padding-bottom: 3px;
  border-bottom: 1px solid #ffffff;
}

.info {
  font-size: 1.6rem;
}

.container {
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.wrapper {
  margin: 20px auto;
}

.menu {
  display: flex;
  white-space: nowrap;
  min-width: 230px;
  width: 100%;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.sub-menu {
  margin-left: auto;
  display: none;
  position: relative;
  cursor: pointer;
  padding: 10px;
  width: 40px;
}

.show-submenu {
  display: block;
  background: #c03600;
}

.sub-menu-container {
  position: absolute;
  right: 0;
  top: var(--submenu-top);
  background: #c03600;
}

.sub-menu-container li {
  text-align: left;
}

.sub-menu-container li + li {
  border-left: none;
}
